<div class="container-fluid">

    <!-- Input Operations  -->
    <form  #f="ngForm" >
        <div class="row search-filters-container" >

            
            <div class="col-3">
                <input required class="search-filters form-control" type="text" placeholder="Enter Movie/Series"  name="mediaName" ngModel>
            </div>

            <div class="col-3">
                <input class="search-filters form-control" type="number" placeholder="Year" name="mediaYear" ngModel>
            </div>
                
            <div class="col-3">

                <select class="search-filters form-control" ngModel name="mediaType">
                    <option value="series">Series</option>
                    <option value="movie">Movie</option>
                    <option value="episode">Episode</option>
                </select> 

            </div>
                
            <div class="col-3">
                <button (click)="getResults(f)" type="button" class="btn btn-outline-success search-filters">Search</button>
            </div>
                    
        </div>
    </form>

    <div class="row ">

        <!-- Error Generation for No Title -->
        <div *ngIf="noTitle" class="col-12">
            <p><b> Error:</b>Name of Movie/Series is Required, try again!</p>
        </div>

        <!-- Result List Generation -->
        <div  class="col-12 poster-root-container">
            <div class="card  poster-container" style="width: 14rem" *ngFor="let x of matchedMedia">
                
                <img (click)="getDescription(x.Title)" id="poster-result" src="{{x.Poster}}">
                
            </div>
        </div>

    </div>


<!-- Description of Media -->
<div *ngIf="matchedDescription" class="row media-desc-container">

    <div class="col-4 desc-poster">
        <div  class="card " style="width: 16rem" >
            
            <img  id="poster-desc" src="{{matchedDescription.Poster}}">
            
        </div>
    </div>

    <div class="col-8 desc-details">
        <h2>{{matchedDescription.Title}}</h2>
        <p><b>Plot:</b>{{matchedDescription.Plot}}</p>
        <p><b>Actors:</b>{{matchedDescription.Actors}}</p>
        <p><b>Awards:</b>{{matchedDescription.Awards}}</p>
        <p><b>Director:</b>{{matchedDescription.Director}}</p>
        <p><b>Producer:</b>{{matchedDescription.Production}}</p>
        <p> <b>Box Office:</b>{{matchedDescription.BoxOffice}}</p>
        <p> <b>Writer:</b>{{matchedDescription.Writer}}</p>
        <p> <b>Released:</b>{{matchedDescription.Released}}</p>
        <p> <b>Language:</b>{{matchedDescription.Language}}</p>
        <p> <b>Genre:</b>{{matchedDescription.Genre}}</p>
    </div>
</div>

<div id="reactive-form-container">

    <form [formGroup]="newForm" (ngSubmit)="sendData(newForm)">
        <input type="text" formControlName="name" placeholder="Enter text">
        <div *ngIf="newForm.get('name').touched && newForm.get('name').invalid">
            <div *ngIf="newForm.get('name').errors.required">This field is required</div>
            <div *ngIf="newForm.get('name').errors.pattern">Only alphabets allowed</div>
        </div>

        <input type="number" formControlName="num" placeholder="Enter the number">

        <div *ngIf="newForm.get('num').touched && newForm.get('num').invalid">
            <div *ngIf="newForm.get('num').errors.required">This field is required</div>
            
        </div>
        
        <div id="radio-container">
            <label> Are You Working</label>
            <br>
            <label>
                <input type="radio" name="rad" formControlName="rad" value="yes">Yes
    
            </label>
    
            <label>
                <input type="radio" name="rad" formControlName="rad" value="no" >No
                
            </label>
        </div>
        
        <button type="submit">Submit</button>
        
    </form>
</div>

   
</div>
