<div class="container-fluid">

    <!-- Input Operations  -->
    <form  #f="ngForm" >
        <div class="row search-filters-container" >

            
            <div class="col-3">
                <input required class="search-filters form-control" type="text" placeholder="Enter Movie/Series"  name="mediaName" ngModel>
            </div>

            <div class="col-3">
                <input class="search-filters form-control" type="number" placeholder="Year" name="mediaYear" ngModel>
            </div>
                
            <div class="col-3">

                <select class="search-filters form-control" ngModel name="mediaType">
                    <option value="series">Series</option>
                    <option value="movie">Movie</option>
                    <option value="episode">Episode</option>
                </select> 

            </div>
                
            <div class="col-3">
                <button (click)="getResults(f)" type="button" class="btn btn-outline-success search-filters">Search</button>
            </div>
                    
        </div>
    </form>

    <div class="row ">

        <!-- Error Generation for No Title -->
        <div *ngIf="noTitle" class="col-12">
            <p><b> Error:</b>Name of Movie/Series is Required, try again!</p>
        </div>

        <!-- Result List Generation -->
        <div  class="col-12 poster-root-container">
            <div class="card  poster-container" style="width: 14rem" *ngFor="let x of matchedMedia">
                
                <img (click)="getDescription(x.Title)" id="poster-result" src="{{x.Poster}}">
                
            </div>
        </div>

    </div>

    

   
</div>
